body {
    background-color: azure;
}

h1 {
    display: inline-block;
    margin-left: 350%;
    width: 200px;
    padding: 0% 40% 0%;
    color: darkblue;
    border-color: aliceblue;
    text-shadow: white 0.1em 0.1em 0.2em

}

footer {
    display: inline-block;
    width: 100px;
    padding: 10% 47% 45%;
}

#sekcja1 {
    display: inline-block;
    width: 200px;

}

ul {
    padding: 0% 25% 0%;
    background-color: #ccff99


}

li {
    display: inline-block;
    margin: 5%;

}

#logo {
    display: inline-block;
    padding: 0% 50% 0%;
}


